body {
  max-width: 960px;
  margin: auto;
  text-align: center;

  font: 16px/1.5 "Source Code Pro";

  background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/blizzard.png');
}

h1 {
  font-weight: lighter;
}

.media-buttons {
  margin-top: 3rem;
}

.media-button {
  transition: all .3s;

  line-height: 1;
  display: inline-block;
  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  text-align: center;
  background: transparent;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.media-button:hover {
  color: white;
  cursor: pointer;
  background-color: black;
}

.song-list {
  margin-top: 3rem;
  list-style: none;
  padding: 0;
}

.song-list .song {
  transition: all .3s;

  margin-bottom: 5px;
  display: block;
}

.song-list .song:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

#upload-field {
  width: 10em;
  height: 10em;
  border: 3px dashed black;
  margin: 6em auto 0;
  cursor: copy;
}

#upload-field.hover {
  background-color: black;
  border: 3px dashed white;
}

.audio-player {
  width: 100%;
}
