<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/public/style.css">
  <title>Node Music Player</title>
</head>
<body>
  <h1>Node Music Player</h1>

  <audio controls class="audio-player" src="" autoplay></audio>

  <p class="current-song-label">Choose a song below</p>

  <ul class="song-list">
    <li>Library is empty</li>
  </ul>

  <!-- <input type="file" accept="audio/mp3" id="upload-file-button" style="display: none;" >
  <div id="upload-field">
    <p>Drop your mp3<br>music here</p>
  </div>
  <label style="cursor: pointer;" for="upload-file-button">
    <p>or <u>click</u> to select</p>
  </label> -->

<form id="upload-file-form" enctype="multipart/form-data">
  <input type="file" accept="audio/mp3" id="upload-file-button" style="display: none;" >
  <div id="upload-field">
    Drop your mp3<br>music here
    <p id="loading-label" style="display: none;">100%</p>
  </div>
  <label style="cursor: pointer;" for="upload-file-button">
    <p>or <u>click</u> to select</p>
  </label>
  <button id="submit-button" type="submit">Upload</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="/public/socketio-stream.js"></script>
<script src="/public/script.js"></script>
</body>
</html>
