<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/94e1ba7744.js"></script>
  <title>Media Player</title>
</head>
<body>
  <h1>SocketIO Media Player</h1>

  <div class="buttons">
    <button class="play"><i class="fa fa-play" aria-hidden="true"></i></button>
  </div>
</body>
</html>
