<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/94e1ba7744.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="public/css/style.css">
  <title>Media Player</title>
</head>
<body>
  <h1>SocketIO Media Player</h1>

  <div class="buttons">
    <button class="step-backward"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
    <button class="play"><i class="fa fa-play" aria-hidden="true"></i></button>
    <button class="step-forward"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
  </div>

  <ul class="song-list">
    <li class="song">Lorem Ipsum - Dolor Uit Amet</li>
    <li class="song">Lorem Ipsum - Dolor Uit Amet</li>
    <li class="song">Lorem Ipsum - Dolor Uit Amet</li>
    <li class="song">Lorem Ipsum - Dolor Uit Amet</li>
  </ul>

</body>
</html>
